In [1]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
s1819 = pd.read_csv("player_stats_2018_2019.csv")

In [3]:
s1718 = pd.read_csv("player_stats_2017_2018.csv")

In [4]:
s1819.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP,MIP
0,1,?lex Abrines\abrinal01,SG,25,OKC,31,2,19.0,1.8,5.1,...,12.2,0.1,0.6,0.6,0.053,-2.4,-0.9,-3.4,-0.2,0
1,2,Quincy Acy\acyqu01,PF,28,PHO,10,0,12.3,0.4,1.8,...,9.2,-0.1,0.0,-0.1,-0.022,-5.7,-0.3,-5.9,-0.1,0
2,3,Jaylen Adams\adamsja01,PG,22,ATL,34,1,12.6,1.1,3.2,...,13.5,-0.1,0.2,0.1,0.011,-3.1,-1.3,-4.4,-0.3,0
3,4,Steven Adams\adamsst01,C,25,OKC,80,80,33.4,6.0,10.1,...,16.4,5.1,4.0,9.1,0.163,0.6,2.1,2.7,3.2,0
4,5,Bam Adebayo\adebaba01,C,21,MIA,82,28,23.3,3.4,5.9,...,15.8,3.4,3.4,6.8,0.171,-0.6,3.6,3.0,2.4,0

In [5]:
x = s1819["MP"] - s1718["MP"]

In [6]:
y = s1819["PTS"] - s1718["PTS"]

In [7]:
rows = s1819.count()

In [8]:
MP_PTS = pd.DataFrame(data=[x,y])

In [9]:
MP_PTS = MP_PTS.transpose()

In [10]:
MP_PTS = MP_PTS.dropna()

In [11]:
MP_PTS

       MP   PTS
0     3.9   0.6
1    -7.1  -4.2
2   -20.1 -10.7
3    13.6   7.0
4    10.4   5.5
..    ...   ...
439 -20.2 -14.2
440   0.1  -1.7
441  -3.3  -3.0
442  -9.0  -9.3
443 -10.1  -1.9

[444 rows x 2 columns]

In [12]:
from sklearn.cluster import KMeans

ModuleNotFoundError: No module named 'sklearn'

In [ ]:
kmeans = KMeans(n_clusters=15)

In [ ]:
kmeans.fit(MP_PTS)

In [ ]:
kmeans.cluster_centers_

In [ ]:
kmeans.labels_

In [ ]:
from pylab import rcParams
rcParams['figure.figsize'] = 20,20

In [ ]:
plt.plot(1,2,2)
plt.scatter(x=MP_PTS.MP,y=MP_PTS.PTS,c=kmeans.labels_,cmap='rainbow', s=50)
plt.title('K-Means Classification')

In [ ]:
TS_Pts_RA = pd.DataFrame(data=[s1819["TS%"],s1819["PTS"],s1819["TRB"]+s1819["AST"]], index=['TS','PTS',"RA"])

In [ ]:
TS_Pts_RA = TS_Pts_RA.transpose()

In [ ]:
TS_Pts_RA = TS_Pts_RA.dropna()

In [ ]:
from sklearn.cluster import KMeans

In [ ]:
kmeans = KMeans(n_clusters=5)

In [ ]:
kmeans.fit(TS_Pts_RA)

In [ ]:
kmeans.cluster_centers_

In [ ]:
kmeans.labels_

In [ ]:
from pylab import rcParams
rcParams['figure.figsize'] = 20,20

In [ ]:
from mpl_toolkits.mplot3d import Axes3D
import matplotlib.pyplot as plt



fig = plt.figure()
ax = fig.add_subplot(111, projection='3d')

x = TS_Pts_RA.TS
y = TS_Pts_RA.PTS
z = TS_Pts_RA.RA



ax.scatter(x, y, z, c=kmeans.labels_, cmap='rainbow', s=50, marker='o')

ax.set_xlabel('True Shooting Percentage')
ax.set_ylabel('Points')
ax.set_zlabel('Rebound+Assist')

plt.show()

In [ ]:
import plotly.express as px
fig = px.scatter_3d(TS_Pts_RA, x='TS', y='PTS', z='RA',
              color=kmeans.labels_, width=1000, height=1000, color_continuous_scale='Portland')
fig.update_traces(marker=dict(size=5))

fig.show()